// .header
a.header--logo(href='') black diamond
.header--number(href='tel:89008153624') 8 (900) 815-36-24
nav.header--menu
  a.header--menu-item(href='') прайс-лист
  a.header--menu-item(href='') как мы работаем
  a.header--menu-item(href='') портфолио
  a.header--menu-item.__no-margin(href='') контакты